parameters:
    watched_funcCalls:
        watched: []
        storage:
            implementation: 'Selrahcd\PhpstanRules\CountFuncCallUsage\JsonFileUsageCountStore'
            json:
                file: '/tmp/watched_funcCalls/count.json'


parametersSchema:
    watched_funcCalls: structure([
        watched: list(string()),
        storage: structure([
            implementation: string(),
            json: structure([
                file: string()
            ])
        ])
    ])

services:

    UsageCountStore: @JsonFileUsageCountStore

    JsonFileUsageCountStore:
        class: Selrahcd\PhpstanRules\CountFuncCallUsage\JsonFileUsageCountStore
        arguments:
            fileName: %watched_funcCalls.storage.json.file%
    -
        class: Selrahcd\PhpstanRules\CountFuncCallUsage\CountFuncCallUsageRule
        arguments:
            usageCountStore: @UsageCountStore
            watchedFuncCalls: %watched_funcCalls.watched%

    -
          class: Selrahcd\PhpstanRules\CountFuncCallUsage\FuncCallCollector
          arguments:
              watchedFuncCalls: %watched_funcCalls.watched%