parameters:
    watched_funcCalls:
        watched: []
        storage:
            implementation: 'Selrahcd\PhpstanRules\CountFuncCallUsage\JsonFileUsageCountStore'
            json:
                file: '/tmp/watched_funcCalls/count.json'


parametersSchema:
    watched_funcCalls: structure([
        watched: arrayOf(int()),
        storage: structure([
            implementation: string(),
            json: structure([
                file: string()
            ])
        ])
    ])

services:

    -
        class: Selrahcd\PhpstanRules\CountFuncCallUsage\CountFuncCallUsageRule
        arguments:
            watchedFuncCalls: %watched_funcCalls.watched%

    -
          class: Selrahcd\PhpstanRules\CountFuncCallUsage\FuncCallCollector
          arguments:
              watchedFuncCalls: %watched_funcCalls.watched%